*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    
    display: grid;
    grid-template-rows: 55px  ;
    grid-template-columns: 800px 300px;
    gap: 5px;
    grid-template-areas: 
    "hd hd"
    "cnt about"
    "cnt archives"
    "cnt elsewhere";
    justify-content: center;
}
.box{
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
}
#blogtitle{
    grid-area: hd;
    text-align: center;
    font-weight:800;
    font-size: 40px;
    
}
#articles{
    grid-area: cnt;
    min-height: 100px;
    text-align: justify;
}
#box3{
    grid-area: about;
    min-height: 100px;
    background-color: rgb(224, 224, 224);
    text-align: justify;
}
#box4{
    margin-top: 20px;
    min-height: 100px;
    grid-area: archives;
   
}
#box5{
    grid-area: elsewhere;
    margin-top: 20px;
}
h1{
    font-size: xx-large;
}